<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h2>User info</h2>
			<%= render 'users/profile', user: @book.user %><!--もともとは@user-->
			<h2>New book</h2>
			<%= render 'books/newform', book: @book_new %>
		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table">
					<tr class="book_<%= @book.id %>">
						<%= render 'detail', book: @book %>
					</tr>
			</table>
			<table class="show-tb comment_<%= @book.id %>">
				<%= render 'comment', book_comments: @book.book_comments %>
			</table>
			<div class="comment-form">
				<%= form_with model:[@book, @book_comment], data: {remote: true} do |f| %>
          <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
			    <%= f.submit "送信する" %>
			  <% end %>
			</div>
		</div>
	</div>
</div>
