<!-- 検索フォーム -->
<h2>検索</h2>


<div class="container">
<h2>Users Search</h2>
<%= form_for(searches_path, :method => 'get') do |f| %>
		<%= f.text_field :search %>
		<%= f.select :search, ([["User","perfect_match"],["Book","backward_match"]]) %>
		<%= f.select :search, ([["完全一致","perfect_match"],["後方一致","backward_match"],["前方一致","forward_match"]]) %>
		<%= f.submit 'Search', :name => 'nill' %>
<% end %>
